<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>A Matemática das Animações Dinâmicas</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
</head>

<body>
    <main>
        <h1>A Matemática das<br/>Animações Dinâmicas</h1>
        <ol>
            <% classes.forEach( value => { %>
                <li>
                    <a href="<%=value%>">
                        <%=value.substr(value.indexOf('-')+1)%>
                    </a>
                </li>
                <% }); %>
        </ol>
    </main>
</body>

</html>